<!doctype html>
<head>
    <title>Playlist</title>
    <script src="{{ url_for('static', filename='jquery-1.11.1.js') }}" type="text/javascript"></script>
</head>
<body>
    <ul>
        {% for song in session.available_songs %}
        <li>{{ song }}</li>
        {% endfor %}
    </ul>

    <input type="text" name="next-song">
    <button id="add-song" type="button">Add Song</button>

    <script>
    $("#add-song").click(function() {
        $.post("{{ url_for('add_song') }}", function(data) {
            console.log(data);
        });
    });
    </script>
</body>
