<!doctype html>
<head>
    <title>Playlist</title>
    <script src="{{ url_for('static', filename='jquery-1.11.1.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='angular.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='components.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
</head>
<body ng-app="mediaApp" ng-controller="mediaCtrl">
    {% raw %}
    <div id="top-container">
        <section id="library-container">
            <div class="title-1">Library</div>
            <ul>
                <li ng-repeat="song in availableSongs" ng-click="addSong(song)">
                    <span>{{ song.name }}</span> 
                </li>
            </ul>
        </section>

        <section id="playlist-container">
            <div class="title-1">Playlist Queue</div>
            <ul id="active-playlist"></ul>
        </section>
    </div>
    {% endraw %}

    <section id="media-player-container">
        <div ng-show="currentSong != null">Current Playing</div>
        <div id="media-current-info">
            <div ng-bind="currentSong"></div>
        </div>
        <div id="media-control-container">
            <button type="button" ng-click="mediaAction('stop')" class="media-action">Stop</button>
            <button type="button" ng-click="mediaAction('pause')" class="media-action">Pause</button>
            <button type="button" ng-click="mediaAction('play')" class="media-action">Play</button>
        </div>
    </section>


    <script>

    var mediaApp = angular.module('mediaApp', []);

    mediaApp.controller('mediaCtrl', function ($scope, $http) {
        $scope.currentSong = null;

        $http.get('/all-songs').success(function(data) {
            console.log(data);
            $scope.availableSongs = data;
        });

        $scope.addSong = function(song) {
            console.log("id: " + song.id + " - " + song.name);
            $http.post("{{ url_for('add_song') }}", {'songId': song.id}).
                success(function(data) {
                    console.log(data);
                    if(data.status == "success") {
                        var newSong = "<li data-song-id='" + song.id + "'>" + song.name + "</li>"; 
                        $("#active-playlist").append(newSong);
                    } else {
                        console.log("ERROR");
                    }
                }).
                error(function(data) {
                    console.log(data);
                });
        };
        $scope.mediaAction = function(action) {
            console.log(action);
            $http.post("{{ url_for('process_media_action') }}", {'action': action}).
                success(function(data) {
                    if(data.action == "play") {
                        $scope.currentSong = data.current_song.name;
                    } else if (data.action == "stop") {
                        $scope.currentSong = null; 
                    }
                }).
                error(function(data) {
                    console.log("MEDIA_ERROR");
                });
        };
    });


    // Event Listeners
    $("#pause").click(function() {
        var action = $(this).text();
        if(action === "Pause") {
            $(this).text("Continue");
        } else {
            $(this).text("Pause");
        }
    });

    </script>
</body>
